.div {
  background-color: white;
  justify-content: space-between;
  display: flex;

}

.divL {
  margin-left: 2em;
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: baseline;
}

.divR {
  margin-right: 2em;
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.desc {
  color: lightgrey;
  font-size: small;
}

.hour {
  font-size: xx-large;
  font-style: initial;
}

.material-icons {
  background-color: white;
  margin-left: 0.5em;
}
button {
  background-color: white;
}
